<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Message</title>
  </head>
  <body>
    <form method="POST" action="/new">
      <header>Create a New Message</header>
      <label for="user">
        Your Name:
        <input id="user" name="user" type="text" />
      </label>
      <label for="text">
        Your Message:
        <input id="text" name="text" type="text"
      /></label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
