<form method="POST" action="/new">
  <header>Create a New Message</header>
  <label for="user">
    Your Name:
    <input id="user" name="user" type="text" />
  </label>
  <label for="text">
    Your Message:
    <input id="text" name="text" type="text"
  /></label>
  <button type="submit">Submit</button>
</form>
