<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>View Message</title>
  </head>
  <body>
    <%- include("header") %>
    <main>
      <div class="card">
        <section>
          <p class="text"><%= message.text %></p>
          <p class="name">By: <%= message.user %></p>
          <%- include("added") %>
        </section>
        <a href="/">Go back</a>
      </div>
    </main>
  </body>
</html>
