* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --light-grey: #e6e5e7;
  --dark-lavender: #b6b6d5;
  --light-lavender: #e9e3f1;
  --dark-grey: #757179;
  --black: #0e0f23;
  font-size: 16px;
  font-family: serif;
}

body {
  background-color: var(--light-grey);
  display: grid;
  color: var(--black);
}

header {
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  background-color: var(--dark-lavender);
}

header a:visited {
  color: var(--black);
}

header a:hover {
  color: var(--white);
}

main {
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: minmax(300px, 600px);
  place-content: center;
}

.card {
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 0 2px var(--dark-grey);
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.card section {
  display: grid;
  gap: 10px;
}

a,
form button {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

main a,
form button {
  color: var(--dark-grey);
  background-color: var(--light-lavender);
  box-shadow: 0 0 5px var(--light-grey);
  height: min-content;
  padding: 5px 10px;
  font-family: inherit;
  font-size: inherit;
}

main a:hover,
form button:hover {
  background-color: var(--dark-lavender);
  color: var(--white);
}

.name,
.added {
  color: var(--dark-grey);
  font-size: 0.8rem;
}

input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--dark-lavender);
}

form button {
  border: none;
  cursor: pointer;
}

header a {
  color: var(--black);
}
